{% extends 'base.html' %}

{% block content %}

	<h1>Hola {{ username }}, bienveido al curso de {{ course_name }}</h1>
	<p>
		El mensaje se encuentra dentro de un archivo html
	</p>

	{% if is_premium %}
	<p>
		El curso es premium
	</p>
	{% else %}
	<p>
		El curso es gratuito
	</p>
	{% endif %}

	{% if courses %}
		<h3>Listado de cursos</h3>
		<ul>
			{% for course in courses %}
			<li> {{course}} </li>
			{% endfor %}
		</ul>
	{% endif %}

	<img src="{{ url_for('static', filename='images/tiburon.jpeg') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}